doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
  body
    // Nav Bar
    .contain-to-grid  
      nav.top-bar
        ul
          li.name
            a(href='#')
              img.logo(src='./images/logo-small.png', alt='Build my Pattern')
          - if (typeof user != 'undefined')
            li.user-name
              | Welcome 
              em #{user.username}

          li.toggle-topbar
            a(href='#')
        section
    
        ul.right
          li
            a.anchorLink.active(href='/') Home
          li
            a.anchorLink(href='#about') About
          - if (typeof user != 'undefined')
            li
              a.anchorLink(href='/panel') Panel
            li
              a.anchorLink(href='/logout') Logout
          - else
            li
              a.anchorLink(data-reveal-id='user-login', href='/login') Login

        #user-login.reveal-modal
          h2 Login
          p.con-login
            a.btn-login.btn-twitter(href='/auth/twitter',alt='Sign in with Twitter') Sign in
            a.btn-login.btn-facebook(href='/auth/facebook',alt='Sign in with Facebook') Sign in
          a.close-reveal-modal ×
    // End Nav
    block content
    //Included JS Files (Compressed) 
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/foundation.min.js')
    //Initialize JS Plugins 
    script(src='/javascripts/app.js')
