border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

h2
  font-size: 27px !important

.logo
  margin: 0
  
.user-name
  color: white
  
.con-login
  max-width: 255px
  margin: 0 auto

.btn-login
  display: block
  float: left
  width: 100px
  height: 65px
  margin: 10px
  padding: 45px 10px 5px
  text-align: center
  border: 1px solid #03aaa8
  border-radius: 4px
  background-repeat: no-repeat
  
.btn-facebook  
  background: white url('../images/openid-providers-en.png')
  background-position: 0 0
  
.btn-twitter 
  background: white url('../images/openid-providers-en.png')
  background-position: -100px 0